<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="js/lodash.js"></script>
	<script src="dist/script.js"></script>
</head>
<body>
	<script type="text/template" id="make_form">
		<div class="container">
			<fieldset>
				<legend class="h1">Тесты по программированию</legend>
				<form name="<%= formAttr.name%>" method="<%= formAttr.method%>">
        <ol>
        <% var i = 0;
        quesstions.forEach(function (quesstion) {
            var j = 0;
            i++; %>
            <li class="h5">
                <span class="question"><%= quesstion %></span>
                <%answers['answers_' + i].forEach(function (answer) {
                j++;%>
                <div>
                    <input type="checkbox" id="<%= ('line' + i + j) %>" class="checkbox-inline">
                    <label for="<%= ('line' + i + j) %>">
                        <%= answer %>
                    </label>
                </div>
                <% }); %>
            </li>
        <% });%>
        </ol>
        <div class="submitDiv">
            <input type="submit" value="Проверить результаты" id="submit-form" class="custom-button">
        </div>
    </form>
			</fieldset>
		</div>
	</script>

	<script type="text/template" id="make_modal">
    <div id="cover-div">
        <div id="prompt-form-container">
            <form id="prompt-form">
              <h2>Test result</h2>
              <div id="prompt-message"></div>
              <input type="submit" value="Ок">
              <input type="button" name="restart" value="Попробовать ещё">
            </form>
        </div>
    </div>
</script>

</body>
</html>