<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JS-Mod24</title>
	<link rel="stylesheet" href="css/style.css">
	<script data-main="js/app.js" src="js/require.js"></script>
</head>
<body>

	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
			<h1>ToDO List</h1>
			<ul class="item-list"></ul>
			<div class="controlls">
				<input type="text" class="item-value" placeholder="Type, what you need to do">
				<button class="item-add">Add</button>
			</div>
		</div>
	</script>

	<script type="text/template" id="list-template">
		<% for (var i = 0; i < data.length; i++) { %>
		<li>
			<span><%= i+1 %> </span>
			<span class="item-content"><%= data[i] %></span>
			<span class="item-delete">remove</span>
			<span class="item-change">change</i>
			</span>
		</li>
		<% }; %>
	</script>

	<script type="text/template" id="list-prompt">
		<div class="item-prompt small">
			<input type="text" class="small"  value="<%= data %>">
			<button class="item-chg small">Save</button>
			<button class="item-cncl small">Cancel</button>
		</div>
	</script>

</body>
</html>
